.container
  .row
    .col-lg-1.col-md-2.col-sm-12.col-xs-12
    .col-lg-10.col-md-8.col-sm-12.col-xs-12
      %h3 List of treanding urls
      %table.table.table-responsive.table-bordered
        %thead
          %tr
            %th Shortened urls
            %th Pageviews
            %th
        %tbody
          - @urls.each do |url|
            %tr
              %td.col-md-10= link_to url.short_url, short_url_urls_path(generate_url(url.short_url), short_url: url.short_url), target: "_blank"
              %td.col-md-2= url.pageviews
              / %td= url.visitor_count
              %td
                = link_to 'Delete', url, method: :delete, data: { confirm: 'Are you sure?' }
    .col-lg-1.col-md-2.col-sm-12.col-xs-12
          
